<h1>Make a Tamagotchi</h1>
<form action="/main" method="post">
  <label for="name">Enter your new pet's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
