<%= @pet.name() %>

<p>Click <a href='/stats'>here</a> to check stats</p>

<p>Click <a href='/feed'>here</a> to feed your tamagotchi</p>
<p>Click <a href='/sleep'>here</a> to put your tamagotchi to bed</p>
<p>Click <a href='/play'>here</a> to play with your tamagotchi</p>

<p><a href='/'>make a new pet</a></p>
