<% if !(@pet.is_alive()) %>
<p><%= @pet.name()%> died </p>
<% end %>

<% if @pet.is_alive() %>
<p>Food Level: <%= @pet.food_level() %></p>
<p>Sleep Level: <%= @pet.sleep_level() %></p>
<p>Activity Level: <%= @pet.activity_level() %></p>
<% end %>

<p><a href='/main'>go home</a></p>
<p><a href='/'>make a new pet</a></p>
